:root {
  --select-border: #48484855;
  --select-focus: #4bc588;
  --select-arrow: var(--select-border);
}

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:after,
*:before {
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  text-decoration-style: none ;
  -moz-text-decoration-style: none;
  color: #fff;
}

body {
  margin: 0;
  top: 0;
}

.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.199);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  height: 6em;
  display: inline;
}

.header ul {
  list-style: none;
  overflow: hidden;
  margin-top: 10px;
}

.header {
  background-color: white;
}

.header li a {
  display: block;
  color: #4cf019;
  text-transform: uppercase;
  font: 18px 'Abel', sans-serif;
  padding: 10px;
  background-color: white;
}


.header li a:hover,
.header .menu-btn:hover {
  background-color: #4cf019;
  color: black;
;
}

.header .logo {
  display: block;
  float: left;
  padding: 12px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #4cf019;
  display: block;
  height: 2px;
  margin: 13px;
  position: relative;
  transition: background- .2s ease-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #4cf019;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 600px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

/* .menu {
  height: 8%;
  width: 100%;
  background: #FF6940;
  top: 0;
  position: fixed;
  z-index: 1;
}

.menu img {
  height: 50px;
  width: 50px;

}
.menu, .menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
} */




.first-banner{
  height: 980px;
  width: 100%;
  margin-bottom: 6em;
  background-image: url('/assets/img/paint-4191399_192.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.first-banner{
  display: flex;
  width: 100vh;
  align-items: center;
  text-align: left;
  justify-content: center;
  color: #000;
  padding: 3em;
}

.first-banner-content div {
  font-family: 'Audiowide', sans-serif;
  font-size: 70px;
}

.fb-content-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fb-content-logo h2 {
  padding-top: 20px;
  padding-left: 40px;
}

.second-banner {
  height: 500px;
  width: auto;
  margin: 4em;
  display: flex;
  align-items: center;
  cursor: default;
}

.second-banner-content div h3 {
  font-family: 'Audiowide', sans-serif;
}

.second-banner-content div h3:hover {
  color: #4cf019;

}
.second-banner-content div h3::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #4cf019;
  transition: width .4s;
}

.second-banner-content div h3:hover::after {
  width: 170px;
  transition: width .4s;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3em 2em;
}

.bloc-img-section, .text-3 {
  padding: 2em 1em;
}

.text-3 {

  align-items: center;
  justify-content: space-between;
}
.one-up {
  background-color: #808080;
}

.two-up {
  background-color: #4cf019;
}

#section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #696969;
}

#section-footer::before {
  content:'';
  position: absolute;
  width: 50%;
  height: 100%;
  top: auto;
  left: 0;
  background: #696969;
}

.footer-container {
  display: flex;
  position: relative;
  min-width: 1000px;
  min-height: 425px;
  z-index: 1000;
}

.footer-container .contact-info {
  font-family: 'Abel', sans-serif;
  position: absolute;
  top: 40px;
  width: 300px;
  height: calc(100% - 80px);
  background-color: #4cf019;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}


.footer-container .contact-info h2{
  color: #000;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-left: 10px;
}

.footer-container .contact-info ul.info {
  position: relative;
  margin-left: 16px;
}

.footer-container .contact-info ul.info li {
  display: flex;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  align-items: flex-start;
}

.footer-container .contact-info ul.info li span img {
  padding-right: 15px;
  height: 30px;
  filter: invert(0);
}

.footer-container .contact-info ul.info li span:nth-child(2) {
  color: #000;
  font-weight: 500;
}


.footer-container .contact-form {
  font-family: 'Abel', sans-serif;
  font-weight: normal;
  position: absolute;
  padding: 30px 50px;
  padding-left: 230px;
  margin-left: 130px;
  width: calc(100% - 150px);
  height: 100%;
  background: #8f6767;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.15);
}

.contact-form h2 {
  font-weight: normal;
  padding-bottom: 12px;
  margin-bottom: 10px;
  color: #4cf019;
}

.footer-container .contact-form .formBox {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.contact-form .formBox .inputBox {
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 500;
}

.contact-form .formBox .inputBox.w50{
  width: 46%;

}

.contact-form .formBox .inputBox.w100{
  width: 100%;
}

.contact-form .formBox .inputBox {
  padding-bottom: 16px;
}

.contact-form .formBox .inputBox input,
.contact-form .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 7px 0px;
  font-size: 15px;
  font: normal 'Abel', sans-serif;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #4cf019;
}

.contact-form .formBox .inputBox input:focus ~ span,
.contact-form .formBox .inputBox input:valid ~ span,
.contact-form .formBox .inputBox textarea:focus ~ span,
.contact-form .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-15px);
  font-weight: 400;
  color: #4cf019;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.contact-form .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #4cf019;
  color: black;
  border: none;
  max-width: 150px;
  padding: 12px;
}

.contact-form .formBox .inputBox span {
  pointer-events: none;
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 300;
  transition: 0.3s;
}

.contact-form .formBox .inputBox input[type="submit"]:hover {
  background: #35b60d;

}

.contact-form .formBox .inputBox textarea {
  height: 120px;
  background-color: transparent;
  border-bottom: 1px solid #4cf019;
}

@media screen and (max-width: 1200px) {
  .footer-container {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 0px 50px rgba(65, 65, 65, 0.8);
  }

  .footer-container .contact-info {
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
  }

  .footer-container .contact-form {
    position: relative;
    width: calc(100% - 350px);
    margin-left: 0;
    padding-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}

@media screen and (max-width: 991px) {
  #section-footer {
    background: royalblue;
  }
  #section-footer::before {
    display: none;
  }

  #section-footer .footer-container{
    display: flex;
    flex-direction: column-reverse;
  }
}


/* display: flex;
justify-content: center;
align-items: center;
min-height: 100vh; */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header li a:hover {
    border-bottom: none;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


@media screen and (min-width: 1005px) {
  .first-banner {
    height: 980px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 6em;
    background-color: #696969;
  }


}
@media screen and (max-width: 1005px) {
  .first-banner {
    height: 980px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 6em;
    background-color: #696969;
  }
}

@media screen and (min-width: 1400px) {
  .banner {
    flex-direction: column;
  }
  .bloc-img-section .text-3 h4 {
    width: 3px;
  }
}
